body,
html {
  width: 1920px;
  max-width: 100%;
  height: 5800px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
/* Navbar START */
.navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.1em;
}

@media only screen and (min-width: 992px) {
  .navbar {
    background-color: #ffffff00;
    padding: 0;
    position: relative;

  }

  .navbar .navbar-brand {
    padding: 0 0.7em;
    margin-left: 45%;
  }

  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }

  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}

.navbar .navbar-nav .nav-item {
  position: relative;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  width: 0%;
  content: "";
  height: 4px;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.navbar .navbar-nav .nav-item::after {
  transition: all 0.5s;
}

.navbar-expand-lg .navbar-collapse {
  flex-basis: auto;
  display: flex !important;
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  font-family: sans-serif;
  font-weight: bold;

}

.navbar-logo {
  max-height: 200px;
  max-width: auto;
  display: flex;
  align-content: center !important;
}

.knap1-nav {
  max-height: 50px;
  max-width: auto;
}

/* Navbar SLUT*/

/*Forside billede1 START*/
.forsidebillede1 {

  position: absolute;
  height: 1080px;
  width: 1920px;
  max-width: 100%;

  display: flex;

}

.info-boks {
  position: relative;
  color: white;
  margin-top: 150px;
  margin-left: 200px;
  z-index: 0;


}

h2 {
  font-size: 50px !important;
  font-weight: bold !important;
}

h1 {
  font-weight: lighter !important;
  font-size: 30px !important;

}

.tagtest {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #000000;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.tagtest:hover {
  background-color: #000000;
  /* Green */
  color: white;
}

/*Forside billede1 SLUT*/

/*blåbar START*/
.blåbar {
  z-index: 1;
  position: relative;

  width: 1920px;
  max-width: 100%;
  margin-top: 15%;
  display: flex;
}

.donnadonnarund {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  margin-top: -9% !important;

}

.tekst-blåbar {
  color: #ffffff;
  z-index: 2;
  position: relative;
  margin-top: -11%;
  text-align: center;
}

/*Blåbar SLUT*/

/*Tekst side3 START*/
.tekst-side3 {
  margin-left: 25%;

}

.tagtest-side3 {
  transition-duration: 0.4s;
  background-color: #235AFF;
  color: rgb(255, 255, 255);
  border: 2px solid #000000;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30%;
}

.tagtest-side3:hover {
  background-color: #000000;
  /* Green */
  color: white;
}

/*Tekst side3 SLUT*/

/*Forside4 START*/
.forsidebillede4 {
  height: 1080px;
  width: 1920px;
  max-width: 100%;

}

.forside4tekst {
  text-align: center;
  margin-top: -50%;
  margin-left: 25%;
  width: 980px;
  height: 1441px;
}

/*Forside4 SLUT*/

/*Forside5 START*/
.forside5tekst {
  text-align: center;
  margin-top: -20%;
}

/*Forside5 SLUT*/

/*Forside6 START*/
.forside6billede {
  height: 1000px;
  width: 1920px;
  max-width: 100%;
}

.side6tekst {
  margin-top: -40%;
  color: #ffffff;
}

.side6tekst1 {
  margin-left: 10%;
}

.side6tekst2 {
  margin-right: 10%;
  text-align: right;

}

.side6tekst3 {
  margin-left: 10%;
}

/*Forside6 SLUT*/

/*Forside7 START*/
.forside7 {
  margin-top: 13%;
  text-align: center;
}

/*Forside7 SLUT*/

/*Footer START*/
.footer-forside {
  background-color: #235AFF;
  height: 600px;
  width: 1920px;
  max-width: 100%;
  position: relative;
  bottom: 0%;
}

/*footer SLUT*/
