

.survey_bar {
    max-width: calc(100% - 20%);
    margin: 0 auto;
    padding: 0 10px;
    position: absolute;
    width: 80%;
    height: 29.2px;
    left: 161px;
    top: 148px;
}

ul.progress_bar {
    max-width: 1200em;
    width: 100%;
    padding: 0 18px;
    height: 2em;
    margin: 0;
    padding: 0;
    font-size: 14px; /* change font size only to scale*/
  }
  
  ul.progress_bar li{
    width: 11em;
    float: left;
    height: 175%;
    list-style: none;
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
  }

  ul.progress_bar li span.line {
    display: block;
    position: relative;
    right: 0;
    height: 0.08em;
    width: 10em;
    background-color: black;

    top: -1.43em;
    left: 2em;
  }

ul.progress_bar li span.circle {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    border: 0.1em solid #010101;
}

ul.progress_bar li span.firstCircle {
    width: 2em;
    height: 2em;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    border: 0.1em solid #010101;
}

/* Allergier info */ 

.info  {
    display: none; /* Skal hedde "block" for at vises. Skal hedde "none" for at skjule */
    position: absolute;
    right: 35%;
    top: 1.5em;
    background: #000000;
    width: 1em;
    height: 1em;
    border-radius: 2em;
    border: 0.1em solid #010101;
    z-index: 2;
}

.p-info {
    display: block;
    position: absolute;
    color: white;
    font-size: 70%;
    right: 39%;
    top: -.2em;
    z-index: 2;
}



/* Placerings stuff */
.N {
    margin: 0 0 0 0;
}

.A {
    margin: 0 0 0 -.6em;
}
.P {
    margin: 0 0 0 -.9em;
}

.C {
    margin: 0 0 0 -.4em;
}

.F {
    margin: 0 0 0 -.8em;
}

.S {
    margin: 0 0 0 .1em;
}

.Abo {
    margin: 0 0 0 -3em;
}

/* Logo */ 
.survey-logo {
    position: absolute;
    width: 128px;
    height: 64px;
    left: 161px;
}



