.checkbox{
    color: rgb(0, 0, 0) !important;
}

.boks {
    width: 600px;
    height: 325px;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
}
.tekstboks{
    border: 2px solid rgb(0, 0, 0);
    width: 600px;
    height: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em 1em 1em 1em;
    
}

.allergen{
    justify-content: space-between;
    display: flex;

    font-size: larger;
}

.info-icon {
    cursor: pointer;
    font-size: large;
}

.rightside {
    margin-left: 10em;
}