.boks {
    width: 600px;
    height: 325px;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
}
.tekstboks{
    border: 2px solid rgb(0, 0, 0);
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.infobillede {

    margin-left: 10%!important;    
    width: 25px;
    height: 25px;
}

.allergen{
    justify-content: space-between;
    display: flex;
}

h2 {
    font-size: 25px !important;

}

.fortsæt {
    font-family: 'Satoshi', sans-serif !important;
    width: 8% !important;
}