.boks {
    width: 600px;
    height: 325px;
    border: 2px solid rgb(0, 0, 0);
    margin: 0;
}
.tekstboks{
    border: 2px solid rgb(0, 0, 0);
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.infobillede {

    margin-left: 10%!important;    
    width: 25px;
    height: 25px;
}

.allergen{
    justify-content: space-between;
    display: flex;
}

h2 {
    font-size: 25px !important;

}

/* KNAPPER */

.knapper {
    display: flex;
    align-items: center;
}

.fortsæt{
    font-family: 'Satoshi', sans-serif;
    width: 20%;
    height: 2.5em;
  
    margin-left: 10px;
  }
  
  .previous {
    font-family: 'Satoshi', sans-serif;
    width: 4%;
    height: 2.5em;  
  
    border: none;
    padding-bottom: 5px;
  }