
.kasse-container {
  column-gap: 1em;
  margin: 5% auto 5% 5% !important;
}

.kasse {
 border: 2px solid black;

 width: 400px !important;
 height: 280px !important;

 margin: 0 5% 0 5%;

 display: flex;
 flex-direction: column;
 align-items: center;

 cursor: pointer;
}

.kasse:hover { 
  background-color:aliceblue;
}

.kasse:focus {
  border: 2px solid #6699CC;
}

.fedTekst {
  font-size: larger;
  font-weight: 600;

  margin: 10px 0 30px 0;
}

.recycle {
  width: 50px;
  height: 50px;
  margin-left: 30px;

}


/* KNAPPER */

.knapper {
    display: flex !important;
    align-items: center !important;
}

.fortsæt{
    font-family: 'Satoshi', sans-serif !important;
    width: 20% !important;
    height: 2.5em !important;
  
    margin-left: 10px !important;
  }
  
  .previous {
    font-family: 'Satoshi', sans-serif !important;
    width: 4% !important;
    height: 2.5em !important;  
  
    border: none !important;
    padding-bottom: 5px !important;
  }



/* KASSE HIGHLIGHT */



